@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');
*{
    
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* root values */
:root{
    --container-color: #1a1e21;
    --second-color: rgba(77, 228, 255);
    --text-color: #172317;
    --bg-color: #fff;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color);
}
/*

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
    height: auto;

}*/

.breadcrumb{
  float: left;
list-style: none;
margin-top: 5px;
margin-bottom: 20px;
width: 100%;
display: flex;

   

}
.breadcrumb-list{
    display: inline-block;
}
.breadcrumb-list:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: #fff;
    font-size: 18px;
}
.breadcrumb-list a{
   margin-left:3px;
     font-weight: 300;
     /*
   font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;*/
   font-family: "ff-good-web-pro", "Arial", sans-serif;
   text-transform: uppercase;
    font-style: normal;
    padding: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;

}
.breadcrumb-list .active{
    color: #fff;
}
.breadcrumb-list a:hover{
    text-decoration: underline;
    
}
@media (max-width:750px){
    .breadcrumb-list{
        padding: 1px;
        

    }
    .breadcrumb-list:not(:last-of-type)::after{
    font-size: 10px;
}
    .breadcrumb-list a{

        font-size: 10px;
        /*font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;*/
        font-family: "ff-good-web-pro", "Arial", sans-serif;
    font-style: normal;


    }
  

}

.add{
   margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    display: block;
    margin-block-start: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #fff;
    font-weight: 500;
    font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    margin-left: 4px;

}
@media screen and (max-width: 1024px) and (min-width: 671px){
    .add{
   
    font-size: 16px;
}
}
@media screen and (max-width: 670px) and (min-width: 351px){
    .add{
   
    font-size: 16px;
}
}
@media screen and (max-width: 350px){
    .add{
   
    font-size: 14px;

    

}
}
@media (max-width: 768px){
    .author li{
font-size: 0.50028rem;
}

.add{
   
    font-size: 16px;

    

}
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
    top: 0;

}

a{
    color: #fff;
}
.author{
    
margin-left: 3px;
margin-top: 10px;
}
.author li{
    display: inline-block;
        font-family: "ff-good-web-pro", "Arial", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25em;
    text-transform: uppercase;
    margin-left: 0.225rem;
    font-size: 0.80028rem;
    line-height: 1;
    color: #fff;
}
@media (max-width: 768px){
    .author li{
font-size: 0.50028rem;
}
}

.btn2{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    border: .8px solid #111;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: #000;
    border: none;
    color: #fff;
}


.name{
    color: #fff;
    font-size: 10px;
   font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
    text-transform: uppercase;
    margin-left: 0.225rem;
    font-size: 0.70028rem;
}
.icons{
    font-size: 10px;
}

.post-filter{
    white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
   margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    margin-top: 7rem !important;
    font-size: 60px; 
    height: 80px;
    background: #f2f2f2;
    max-width: 1068px;
    margin: auto;
   gap:2rem;
}

.filter-item{
     -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none ;
    padding: 16px 21px;
    color: #000;
     font-family: "ff-good-web-pro-extra-conden", "Arial", sans-serif;
    text-transform: uppercase;
     border-bottom: 2px solid #000;
      width: 100%;
      color: #000;

}

.active-filter{
    background: #000;
    color: #fff;
    padding: 16px 21px;

    
}
.active-filter:hover{
    background: #000;
    color: #fff;
    padding: 16px 21px;
}
@media (max-width: 768px){
    
.post-filter{
     white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
   margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.1rem;
    margin-top: 0rem !important;
    height: 60px;
    background: #f2f2f2;
}
.filter-item{
    font-size: 0.8rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none ;
    padding: 13px 19px;
    color: #ffff;
     font-family: "ff-good-web-pro-extra-conden", "Arial", sans-serif;
    text-transform: uppercase;
    width: 100%;
     box-sizing: border-box;
     overflow-x: auto;
     color: #000;

}
 .filter-item::-webkit-scrollbar{
display: none;
 }
span.filter-item{
    color: #000;
    text-align: center;
     border-bottom: 1px solid #000;
}
span.filter-item.active-filter{
    background: #000;
    color: #fff;
   
}
.active-filter:hover{
    background: #000;
    color: #fff;
   
}

}

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
    margin-top: 30px;
}

.post-box{
    background: var(--bg-color);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.025), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 15px;
    border-radius: 0.5rem;
     transition: .4s;
    background: #f2f2f2;
}
.post-box:hover{
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
transform: translate(0px, -8px);
}

.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post-title{
    font-size: 1.0rem;
    font-weight: 600;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.675rem;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: 400;
    font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
}

.post-description{
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #000;
}

.profile-name{
    font-size: .6rem;
    font-weight: 500;
    font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
}

@media (max-width: 768px){
    

    .btn2{
        margin-bottom: 0px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .about .contentBx{
        margin-top: 40px;

    }
    .author{
    

margin-top: 80px;
}
    .post-header{
        height: 390px;
    }

    .header-title{
        width: 100%;
    }

    .header-img{
        height: 340px;
    }
}

@media (max-width: 396px){
    .home-title{
        font-size: 2rem;
    }

    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
    }
    .post-box:hover{
        transform: scale(1.0);
    }

    .header-title{
        font-size: 1.4rem;
    }

    .header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    .header-img{
        height: 340px;
    }
  .latest{
    font-size: 16px;
    margin-top: 0;
  }
}






