body{
    margin: 0;
    padding: 0;
   
}
html{
   
    overflow-x: hidden;
}
.post-box{
    
}
.img-banner{
    width: 100%;
}
.breadcrumb{
  float: left;
list-style: none;
margin-top: 5px;
margin-bottom: 20px;
width: 100%;
display: flex;

   

}
.breadcrumb-list{
    display: inline-block;
}
.breadcrumb-list:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: #000;
}

/*
.breadcrumb li{
    display:inline-block;
    margin-bottom: 30px;
    padding: 5px;
    content:kQAfGB;
    font-size:18px;
  font-weight: 600;
   color: #ffffff;
    font-family: Interstate, Interstate-fallback, Interstate-roboto, Interstate-local, Helvetica, Arial, Sans-serif;
    line-height: 1;
    list-style: none;
    
}*/

.breadcrumb-list a{
   margin-left:3px;
     font-weight: 500;
   font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
    padding: 4px;
    text-decoration: none;
    color: #999;

}
.breadcrumb-list .active{
    color: #000;
}
.breadcrumb-list a:hover{
    text-decoration: underline;
    
}
@media (max-width:750px){
    .breadcrumb-list{
        padding: 1px;
        

    }
    .breadcrumb-list a{

        font-size: 14px;
        font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;


    }
  

}

.Team{
 align-content: center;
 justify-content: center;

}
.steering{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author{
    font-size: 10px;
    font-family: Industry TG, Helvetica, Arial, sans-serif;
    margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 4px;
}
.name{
    color: lightslategray;
    font-family: "ff-good-web-pro", "Arial", sans-serif;
    margin-top: 5px;
  margin-bottom: 10px;
}
.profile_icon{
    width: 13px;
    height: 13px;
}
.icon{
    font-size: 60px;
}
.intro{
   justify-content: center;
    display: flex;
    float: left;
    width: 100%;
    height: auto;
    gap: 2rem;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    padding: 20px 10px 20px;
    align-items: center;
    justify-content:center;
    flex: 1 1 17rem;
    margin-bottom: 20px;
    margin-top: 20px;
    

}
.intro ul{
    position: relative;

}
.intro li{
    list-style: none;
   margin-bottom: 20px;
   margin-top: 10px;
    display: inline-block;
    margin: 60px;
}
.Scroller{
    width: 100px;
    height: auto;
}

 .After-scroler{
font-size: 20px;
font-family: Industry TG, Helvetica, Arial, sans-serif;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
width: 100%;

 }
 @media (max-width:750px){
    .Scroller{
      position: relative;
      width: 80px;
      height: auto;
     

}
.intro{
    width: 100%;

}
.intro li{
    margin: 5px;
}
.Scroller{
    width: 50px;
}

}
