::-webkit-scrollbar{
display:none;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.pv-huge {
    overflow-x: hidden;

        }
.breadcrumb{
  float: left;
list-style: none;
margin-top: 5px;
margin-bottom: 20px;
width: 100%;
display: flex;

   

}
.breadcrumb-list{
    display: inline-block;
}
.breadcrumb-list:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: #fff;
    font-size: 18px;
}
.breadcrumb-list a{
     font-weight: 300;
     /*
   font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;*/
   font-family: "ff-good-web-pro", "Arial", sans-serif;
   text-transform: uppercase;
    font-style: normal;
    padding: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;

}
.breadcrumb-list .active{
    color: #fff;
}
.breadcrumb-list a:hover{
    text-decoration: underline;
    
}
@media (max-width:750px){
    .breadcrumb-list{
        padding: 1px;
        

    }
    .breadcrumb-list:not(:last-of-type)::after{
    font-size: 10px;
}
    .breadcrumb-list a{

        font-size: 10px;
        /*font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;*/
        font-family: "ff-good-web-pro", "Arial", sans-serif;
    font-style: normal;


    }
  

}
.box{
    position: absolute;
    top:94%;
    left:50%;
    transform: translate(-50%,-50%);
}
.box span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.box span:nth-child(2){
    animation-delay: -0.2s;
    transform: rotate(45deg) translate(-20px,-20px);
}
.box span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
         transform: rotate(45deg) translate(-20px,-20px);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
         transform: rotate(45deg) translate(20px,20px);
    }
}


.first{
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    font-size: 20px;
    margin-left: 20px;
   
}
.blog-title{
    
    font-size: 30px;
}

.specs_title{
    font-size: 20px;
    font-weight: 700;
    font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
    letter-spacing: 0.105rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
}
.add{
   margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    display: block;
    margin-block-start: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #fff;
    font-weight: 500;
    font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    margin-left: 4px;

}
.author{
    
margin-left: 3px;
margin-top: 10px;
}
.author li{
    display: inline-block;
    font-family: "ff-good-web-pro", "Arial", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25em;
    text-transform: uppercase;
    margin-left: 0.225rem;
    font-size: 0.80028rem;
    line-height: 1;
    color: #fff;
}
.convo{
    display: inline-block;
    font-family: "ff-good-web-pro", "Arial", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25em;
    text-transform: uppercase;
    margin-left: 0.225rem;
    font-size: 0.60028rem;
    line-height: 2;
    color: #fff;
 
}
@media screen and (max-width: 1024px) and (min-width: 671px){
    .add{
   
    font-size: .7rem;
}
}
@media screen and (max-width: 670px) and (min-width: 351px){
    .add{
   
    font-size: .7rem;
}
}
@media screen and (max-width: 350px){
    .add{
   
    font-size: 14px;

    

}
}
@media (max-width: 768px){
    .author li{
font-size: 0.50028rem;
}

.add{
   
    font-size: .7rem;

    

}
}
.name{
    color: #fff;
    font-size: 10px;
   font-family: Gliko, Gliko-fallback, Gliko-roboto, Gliko-local, Georgia, Times, Serif;
    font-style: normal;
    margin-top: -18px;
    text-transform: uppercase;
    margin-left: 0.225rem;
    font-size: 0.70028rem;
}
.icons{
    font-size: 10px;
}
.profile{
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.article_covers{

    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;


}
.article_box{
    background: #f6f6f6;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    padding: 20px 10px 20px;
    border-radius: 0.5rem;
    align-items: center;
    justify-content:center;
flex: 1 1 17rem;

}

@media (max-width:568px)
{
    .article_covers{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex: wrap;
    }
  .article_box{
    justify-items: center;
    display: flex;
    gap:2rem;
    flex-direction: wrap;
    
  }
  .button_1,button_2,button_3,button_4,button_5,button_6{
    
    padding: 10px 10px;
  }
    

}


.the{
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
    margin-top: 20px;
}
.title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 40px;
    font-family: initial;

}
.specs__content{
    margin-top: 30px;
    margin-bottom: 30px;
}
.pv-large{
    width: 100%;
    overflow-x:hidden ;
}
.gallery-thumb{
    width: 100%;
}
.photos{
    width: 100%;
}
.photos_item-img{
    width: 100%;
    height: auto;
}


.all{
      justify-content: space-around;
    align-items: center;
    display: flex;  
    }
.help{
    background: var(--bg-color);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.025), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 15px;
     transition: .4s;
    background: #f2f2f2;
    margin-bottom: 40px;
    width: 700px;
    height: auto;
}
.pros_title{
    font-size: 30px;
    font-family: !important;
    font-weight: 800;
   text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.adv_dis{
    font-size: 26px;
    font-family: monospace;
    font-weight: 600;
    margin-bottom: 10px;
}
.cons{

    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 15px;
}
li{
    
    font-size: 20px;
}
.bullet{
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-left: 5px;
}
@media (max-width: 768px){
    .all{
      justify-content: space-around;
    align-items: center;
    display: flex;  
    }
    .help{
    background: var(--bg-color);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.025), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 15px;
     transition: .4s;
    background: #f2f2f2;
    margin-bottom: 40px;
    width: 95%;
    
    }
    .pros_title{
    font-size: 18px;
    
    font-family: "ff-good-web-pro", "Arial", sans-serif;
    font-weight: 800;
   text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.adv_dis{
    font-size: 16px;
    text-align: left;
    font-family: "ff-good-web-pro", "Arial", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.cons{

    
    font-size: 17px;
     font-family: "ff-good-web-pro", "Arial", sans-serif;
     margin-left: 7px;
     font-weight: 500;
     margin-bottom: 2px;

}
li{
    
    font-size: 8px;
}
.bullet{
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-left: 5px;
}


    }
.table_cont{
    width: 100%;
    height: auto;

}
.topic{
    font-size: 18px;
    font-family: monospace;
    font-weight: 500;
}
.figures{
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 30px;
}
.ads-text{
    font-size: 12px;
    color: #333;
    text-align: center;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 60px;
  width: 60px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #001a2e;
}
@media (max-width:568px)
{
    #progress{
  position: fixed;
  bottom: 80px;
  right: 10px;
  height: 40px;
  width: 40px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
    }
    

}

