* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --bg: #f2ecec;
  --primary: #7d6be8;
}
.sharing{
  
    font-family: "ff-good-web-pro", "Arial", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25em;
    text-transform: uppercase;
    margin-left: 0.225rem;
    font-size: 0.80028rem;
    line-height: 1;
    color: #000;
}
.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
   margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    margin-top: 7rem !important;
    font-size: 60px; 
    height: 80px;
    background: #f2f2f2;
    max-width: 1068px;
    margin: auto;
   gap:2rem;
}
.scrolls{
  font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none ;
    padding: 16px 21px;
    color: #ffff;
     font-family: "ff-good-web-pro-extra-conden", "Arial", sans-serif;
    text-transform: uppercase;
     border-bottom: 2px solid #000;
      width: 100%;

}
.scrolls .active{
  background: #000;
    color: #fff;
    padding: 16px 21px;
}
.scrolls a{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.9375rem;
  
}
.scrolls a:hover{
background: #000;
    color: #fff;
    padding: 16px 21px;
}

  
@media (max-width: 768px){
    
.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
   margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.7rem;
    margin-top: 7rem !important;
    font-size: 20px; 
    height: 60px;
    background: #f2f2f2;


}
.scrolls{
  font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none ;
    padding: 13px 19px;
    color: #ffff;
     font-family: "ff-good-web-pro-extra-conden", "Arial", sans-serif;
    text-transform: uppercase;
     border-bottom: 2px solid #000;
     width: 100%;
     box-sizing: border-box;
     overflow-x: auto;

}
.scrolls .active{
  background: #9e9a9a;
    color: #fff;
    padding: 13px 19px;
}
.scrolls a{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.9375rem;
  
}
.scrolls a:hover{
background: #000;
    color: #fff;
    padding: 13px 19px;
}
.scrolls .active::after{
  background: #fff;
    color: #000;
    padding: 13px 19px;
}

/* [5] */
.scroll::-webkit-scrollbar {
  display: none;
}
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
}

.social-buttons a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-buttons a img {
    width: 30px;
    height: 30px;
}

.facebook {
    background-color: transparent;
}

.twitter {
    background-color: transparent;
}

.instagram {
    background-color: transparent;
}

.whatsapp {
    background-color: transparent;
}

.tiktok {
    background-color: transparent;
}
.youtube {
    background-color: transparent;
}

.copy-link {
    background-color: transparent;
}

@media (max-width: 600px) {
    .social-buttons {
      display: flex;
       gap: 0.3em;
        align-items: center;
    }

    .social-buttons a {
        margin: 10px 0;
    }
}


